<h1>Ajudando a Ajudar</h1>
<a href="/ongs/sign_up">ONG Nova? Registre-se aqui!</a><br>
<a href="/ongs/sign_in">ONG Registrada? Entre aqui!</a><br>
<a href="/voluntarios/sign_up">Voluntário Novo? Registre-se aqui!</a><br>
<a href="/voluntarios/sign_in">Voluntário Registrado? Entre aqui!</a><br>