<nav class="navbar navbar-default" style="margin-bottom: 0px; border-radius: 0px;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Ajudando a Ajudar</a>
    </div>
      <form class="navbar-form navbar-left" action="/ongs/">
        <div class="form-group">
          <input name="user_search" id="user_search" type="text" class="form-control" placeholder="Uma ONG te aguarda!" style="width: 500px !important;">
        </div>
        <button type="submit" class="btn btn-default">Procurar!</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><a href="/ongs/<%=@current_ong.id%>">Olá, <%= @current_ong.nome %>!</a></li>
          <li><%= link_to "Sair :(", logout_path_url, method: :delete %></li>
        <% else %>
          <li><a href="/sessions/new">Login ONGs!</a></li>
          <li><a href="/ongs/new">Registre-se aqui!</a></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
